@font-face {
    font-family: 'futura-book';
    src: url('/fonts/futura-book-webfont.eot');
    src: url('/fonts/futura-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/futura-book-webfont.woff2') format('woff2'),
         url('/fonts/futura-book-webfont.woff') format('woff'),
         url('/fonts/futura-book-webfont.ttf') format('truetype'),
         url('/fonts/futura-book-webfont.svg#futura-bookbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-light';
    src: url('/fonts/futura-light.eot');
    src: url('/fonts/futura-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/futura-light.woff') format('woff'),
         url('/fonts/futura-light.ttf') format('truetype'),
         url('/fonts/futura-light.svg#futura-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lyonbold';
    src: url('/fonts/lyonbold-webfont.eot');
    src: url('/fonts/lyonbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lyonbold-webfont.woff2') format('woff2'),
         url('/fonts/lyonbold-webfont.woff') format('woff'),
         url('/fonts/lyonbold-webfont.ttf') format('truetype'),
         url('/fonts/lyonbold-webfont.svg#lyonbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lyonitalic';
    src: url('/fonts/lyonitalic-webfont.eot');
    src: url('/fonts/lyonitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lyonitalic-webfont.woff2') format('woff2'),
         url('/fonts/lyonitalic-webfont.woff') format('woff'),
         url('/fonts/lyonitalic-webfont.ttf') format('truetype'),
         url('/fonts/lyonitalic-webfont.svg#lyonitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walsh-bold';
    src: url('/fonts/GT-Walsheim-Bold.eot');
    src: url('/fonts/GT-Walsheim-Bold.ttf') format('truetype'),
         url('/fonts/GT-Walsheim-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "walsh-oblique";
    src: url('/fonts/GT-Walsheim-Regular-Oblique.eot');
    src: url('/fonts/GT-Walsheim-Regular-Oblique.ttf') format('truetype'),
         url('/fonts/GT-Walsheim-Regular-Oblique.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "walsh-reg";
    src: url('/fonts/GT-Walsheim-Regular.eot');
    src: url('/fonts/GT-Walsheim-Regular.ttf') format('truetype'),
         url('/fonts/GT-Walsheim-Regular.woff') format('woff');
    font-weight: normal;
}

h1 {
    font-family: 'walsh-bold';
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    color: $newblue;
}

p {
    font-family: 'walsh-reg';
    font-size: 14px;
    color: $newblue;
}