.desktop_text {
	display: inline-block;
}

.mobile_text,
.mobile_bg {
	display: none;
}

@media (max-width: 769px) {
	.parallax1,
	.parallax2 {
		display: none;
	}

	.mobile_bg {
		display: block;
	}

	.newLogo {
		margin-bottom: 25vh;
	}

	.newContent {
		margin-top: 50px;
		width: 100%;
	}

	.newContent h1 {
		font-size: 40px;
		width: 100%;
		transform: none;
	}

	.newContent p {
		font-size: 14px;
		width: 85%;
		margin: 0 auto;
		// margin-bottom: 20vh;
	}

	.mobile_text {
		display: inline-block;
	}

	.desktop_text {
		display: none;
	}

/* mailChimp */
	.chimpForm {
		position: fixed;
		bottom: 20px;
		left: 0;
		width: 100%;
	}

	.email {
		width: 65%;
	}
	
	.subscribe {
		width: 25%;
	}

	p.message {
		margin-top: 10px;
		margin-bottom: 0;
	}
}
