.parallax1,
.parallax2,
.mobile_bg {
	width: auto;
	height: auto;
	position: fixed;
	overflow: visible;
}

.parallax1 {
	background-image: url('/images/layer1.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;

	z-index: 1;
	-webkit-background-size: contain;
	-mox-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.parallax2 {
	background-image: url('/images/layer2.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: 0;
	-webkit-background-size: cover;
	-mox-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mobile_bg {
	background-image: url('/images/Mobile_BG.png');
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 0;
	-webkit-background-size: cover;
	-mox-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.parallax1,
.parallax2 {
	top: 100px;
	right: 100px;
	bottom: 100px;
	left: 100px;
}