.email {
	border: 1px solid #000000;
	width: 300px;
	padding: 1em;
}

.subscribe {
	color: #FFFFFF;
	background-color: $newblue;
	border: 1px solid #000000;
	text-transform: uppercase;
	margin-left: -5px;
	padding: 1em;
}

p.message {
	margin-top: 10px;
	margin-bottom: 0;
}

