.parallax1,
.parallax2,
.mobile_bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.parallax1 {
	background-image: url('/images/layer1.png');
	background-repeat: no-repeat;
	background-position: center center;

	z-index: 1;
	-webkit-background-size: cover;
	-mox-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.parallax2 {
	background-image: url('/images/layer2.png');
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 0;
	-webkit-background-size: cover;
	-mox-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.mobile_bg {
	background-image: url('/images/Mobile_BG.png');
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 0;
	-webkit-background-size: cover;
	-mox-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}