// xs
@media (max-width: 599px) {
  #mainChrome
  {
    display: none;
  }
  .voilahLogo {
    top: -85vh;
    width: 30px;
    height: 30px;
  }

  .bottomContent {
    bottom: 5vh;
  }

  #slide1image {
    max-width: 60%;
  }

  #slide2 .slideContent {
    top: 30vh;
  }

  #slide2 .slideContent > h1 > span {
    line-height: 1;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    font-size: 40px;

    &:last-of-type {
      margin-top: -6px;
      margin-bottom: 13px;
    }
  }

  #slide2 .slideContent > p {
    font-size: 13px;
  }

  #slide3 .slideContent {
    top: 20vh;
  }

  #slide3image {
    max-width: 55%;
  }

  #slide3 .slideContent > h1 {
    margin-top: 13px;
    font-size: 36px;
  }

  #slide3 .slideContent > h1 > span {
    line-height: 1;
    width: 100%;
    display: block;
    float: left;
    text-align: center;

    &:last-of-type {
      margin-top: -6px;
    }
  }

  #slide4 .slideContent {
    top: 23vh;
  }

  #slide4 .slideContent > p {
    margin-top: 10px;
    font-size: 12px;
  }

  #slide4 .slideContent > h1 {
    margin-top: 15px;
    font-size: 24px;
  }

  #slide4 .slideContent > h1 > span {
    line-height: 1;
    width: 100%;
    display: block;
    float: left;
    text-align: center;

    &:last-of-type {
      margin-top: -6px;
    }
  }

  #slide5 .slideContent {
    top: 27vh;
  }

  #slide5image {
    max-width: 60%;
  }

  #slide5 .slideContent > p {
    margin-top: 10px;
    font-size: 12px;
  }

  #slide5 .slideContent > p.ending_text {
    font-size: 15px;
  }

  .MailChimpForm {
    > p {
      font-size: 11px;
    }

    .email {
      font-size: 11px;
    }

    .subscribe {
      font-size: 11px;
    }
  }
}