<template name="newContent">
	<div class="newContent">
		<div class="newLogo"></div>
		<h1>Voilah is a Wonderland</h1>
		
		<p class="desktop_text">A moment that exists between fantasy and reality. Almost surreal. It holds unique treasures and fascinating trinkets in the form of bags, jewelry, eyewear, headwear and shoes.</p>

		<p class="mobile_text">Voilah was made to highlight the style makers, the up and coming of the accessories world all in one curated marketplace.</p>

		{{> mailchimpcustom}}
	</div>
</template>