<template name="slideContent">
  <div id="slide1" class="slide enabled">
    <img id="slide1image" src="/images/logo_banner_cream@2x.png" alt="Logo Banner Light">
  </div>

  <div id="slide2" class="container-fluid slide">
    <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <div class="slideContent">
          <h1><span>Exclusive</span><span>Exclusivities</span></h1>
          <p>masterpieces of the luxury world,<br />loved by many,<br />owned by few.</p>
        </div>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>

  <div id="slide3" class="container-fluid slide">
    <div class="row">
      
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <div class="slideContent">
          <div id="slide3image" class="hidden-xs" ></div>
          <div id="slide3imageXS" class="hidden-sm hidden-md hidden-lg" ></div>
          <h1><span>Fashion Is Art</span></h1>
          <p>tell your story by what you wear.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="slide4" class="container-fluid slide">
    <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <div class="slideContent">
          <img id="slide4image" src="/images/slide_4.png" alt="Fashion Is Art">
          <h1><span>Shop Curated Luxuries</span></h1>
          <p>only the most sublime creations made available to you.</p>
        </div>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>

  <div id="slide5" class="container-fluid slide">
    <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
        <div class="slideContent">
          <img id="slide5image" src="/images/logo_banner@2x.png" alt="Logo Banner">
          <p>Exceptional designer pieces specially curated so</p>
          <p>you can indulge in the most sought after luxuries.</p>
          <p class="ending_text">Launching soon.</p>
        </div>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
    </div>
  </div>
</template>